.background-container {
    position: relative;
    width: 100%;
  }

  .background-container img {
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0);
    /* Add a background color with some opacity for better readability */
  }

  .card {
    margin-top: 20px;
  }

  #carouselExampleControls {
    display: none;
  }