body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #56171789;
}

header {

    color: #3e0707;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

.section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

  .custom-navbarmirasımız {
    background: linear-gradient(to right, #051d5a, #610f0f); /* Deniz mavisi renk geçişi */
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 15px; /* Köşeleri yumuşatır */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif bir gölge ekler */
    padding: 10px; /* İç boşluk ekler */
  
    font-family:Georgia, 'Times New Roman', Times, serif ; 
    margin-top: 5px;
  }
  